.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  margin-top: 30px;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  margin-top: 60px;
}

.videoPreview {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoPreview.black {
  background-color: #000; /* Black background when not recording */
  height: 500px;

}

.videoPreview.white {
  background-color: #fff; /* White background when recording */
  height: 500px;
}


/* Landscape mode for desktop */
@media (min-width: 768px) {
  .videoPreview {
    width: 100%;
    height: 70vh; /* Landscape aspect ratio */
  }
}

/* Portrait mode for mobile */
@media (max-width: 767px) {
  .videoPreview {
    width: 80%;
    height: 50vh; /* Portrait aspect ratio */
    max-height: 50vh; /* Limit height to prevent overflow */
  }
}

.startButton{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2f9e38;
  color: white;
  border: none;
  border-radius: 5px;
}
.stopButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #961919;
  color: white;
  border: none;
  border-radius: 5px;
}
.statusText {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
