button {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

button.start {
  background-color: greenyellow;
}
button.start:hover {
  background-color: green;
  color: white;
}
button.start:disabled:hover {
  background-color: greenyellow;
  color: inherit;
}

button.stop {
  background-color: rgb(231, 104, 104);
}
button.stop:hover {
  background-color: red;
  color: white;
}
button.stop:disabled:hover {
  background-color: rgb(231, 104, 104);
  color: inherit;
}

button.upload {
  background-color: rgb(146, 129, 241);
}
button.upload:hover {
  background-color: blue;
  color: white;
}
button.upload:disabled:hover {
  background-color: rgb(146, 129, 241);
  color: inherit;
}
